language: php

sudo: required

php:
#  - '7.0'
  - '7.1'

before_install:
  - sudo apt-get install php-pear
  - sudo apt-get install php7.1-dev
  - sudo apt-get install libyaml-dev
  - sudo pecl install yaml
  - You should add "extension=yaml.so" to php.ini
  - pecl install mongodb
  - sudo apt-get install php7.1-mongodb

install:
  - composer install
#  - composer require phpunit/phpunit ^6.3

script: vendor/bin/phpunit


