language: php

sudo: required

php:
#  - '7.0'
  - '7.1'

before_install:
  - \n | sudo add-apt-repository ppa:ondrej/php
  - sudo apt-get update
#  - sudo apt-get install php7.1
  - sudo apt-get install php-pear
  - sudo apt-get install php-dev
  - sudo apt-get install libyaml-dev
  - pecl channel-update pecl.php.net
  - \n | sudo pecl install yaml
  - cd /etc/php/7.1/
  - ls
  - sudo echo "extension=yaml.so" >> ~/.phpenv/versions/7.1/cli/php.ini
  - pecl install mongodb
  - sudo apt-get install php-mongodb

install:
  - composer install
#  - composer require phpunit/phpunit ^6.3

script: vendor/bin/phpunit


