language: php

sudo: required

php:
  - '7.0'
  - '7.1'

before_install:
  - \n | sudo add-apt-repository ppa:ondrej/php
  - sudo apt-get update
  - sudo apt-get install php-dev
  - sudo apt-get install php-pear
  - sudo apt-get install libyaml-dev
  - pecl channel-update pecl.php.net
  - \n | sudo pecl install yaml
  - echo "extension=yaml.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - pecl install mongodb
  - sudo apt-get install php-mongodb
  - ~/.phpenv/versions/$(phpenv version-name)/bin/composer self-update

install:
  - composer install

script:
  - cd $TRAVIS_BUILD_DIR
  - git pull origin master
  - ls -a
  - ./vendor/bin/phpunit
