language: php

sudo: true

php:
  - '7.0'
  - '7.1'

#script: phpunit --configuration phpunit.xml
before_install:
  - wget https://phar.phpunit.de/phpunit-6.3.phar
  - chmod +x phpunit-6.3.phar
  - mv phpunit-6.3.phar /usr/local/bin/phpunit
  - phpunit --version
