<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="SQL to MongoDB tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./Config</directory>
            <directory suffix=".php">./tests</directory>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
